asgiref==3.7.2
Django==4.0.3
django-cors-headers==4.0.0
django-filter==23.3
django-upgrade==1.15.0
djangorestframework==3.11.2
Markdown==3.5
newrelic==9.1.0
psycopg2==2.9.9
pytz==2023.3.post1
sqlparse==0.4.1
tokenize-rt==5.2.0
